.container {
  max-width: 1080px;
  margin: 0 auto;
  background: #fff;
}

.flex {
  display: flex;

  &Center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &Right {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  &Row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &Column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.justify {
  &Start {
    justify-content: start;
  }

  &End {
    justify-content: end;
  }

  &Center {
    justify-content: center;
  }

  &Between {
    justify-content: space-between;
  }

  &Around {
    justify-content: space-around;
  }

  &Evenly {
    justify-content: space-evenly;
  }
}

.gap {
  &5 {
    gap: 5px;
  }

  &10 {
    gap: 10px;
  }

  &15 {
    gap: 15px;
  }
}

.w {
  &144 {
    width: 144px;
  }

  &280 {
    width: 280px;
  }

  &480 {
    width: 480px;
  }

  &520 {
    width: 520px;
  }
}

.h {
  &144 {
    height: 144px;
  }

  &280 {
    height: 280px;
  }

  &480 {
    height: 480px;
  }

  &520 {
    height: 520px;
  }
}
